body {
    font-family: "Lato", sans-serif;
    margin: 0;
  }
.spanMenu{
  font-size:30px;cursor:pointer;
  margin-left: 3%;
  color: white;
}
.userSaldo{
    width: 10%;
    scale: 0.8;
    float: right;
    margin-left: 5%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

.navBar{
  background-color: black;
  padding: 10px;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
} 
.sidenav a {
    padding: 15px 12px 18px 34px;
    text-decoration: none;
    color: white;
    display: block;
    transition: 0.3s;
    font-size: medium;

} 
.sidenav a:hover {
    color: #f1f1f1;
}  
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.insideMenu{
    color: white;
    text-align: center;
    scale: 1.2;
    margin-bottom: 12%;
}  
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}